.card {
	background-repeat: no-repeat;
	width: 65px;
	height: 65px;
	display: inline-block;
	margin: 5px;
	cursor: pointer;

	@media screen and (min-width: 400px) {
		width: 87px;
		height: 87px;
	}

	@media screen and (min-width: 600px) {
		width: 153px;
		height: 153px;
	}

	@media screen and (min-width: 1180px) {
		width: 201px;
		height: 201px;
	}

}

.hidden {
	visibility: hidden !important;
}

.front {
	background-image: url("../img/cards-65w.png");

	@media screen and (min-width: 400px) {
		background-image: url("../img/cards-85w.png");
	}

	@media screen and (min-width: 600px) {
		background-image: url("../img/cards-150w.png");
	}

	@media screen and (min-width: 1180px) {
		background-image: url("../img/cards-200w.png");
	}
}

.back {
	background-image: url("../img/back.png");
	background-size: contain;
}

.card0 {
	background-position: -8px -5px;

	@media screen and (min-width: 400px) {
		background-position: -11px -7px;
	}

	@media screen and (min-width: 600px) {
		background-position: -20px -15px;
	}

	@media screen and (min-width: 1180px) {
		background-position: -28px -22px;
	}
}

.card1 {
	background-position: -81px -5px;

	@media screen and (min-width: 400px) {
		background-position: -105px -7px;
	}

	@media screen and (min-width: 600px) {
		background-position: -186px -15px;
	}

	@media screen and (min-width: 1180px) {
		background-position: -249px -22px;
	}
}

.card2 {
	background-position: -155px -5px;

	@media screen and (min-width: 400px) {
		background-position: -200px -7px;
	}

	@media screen and (min-width: 600px) {
		background-position: -353px -15px;
	}

	@media screen and (min-width: 1180px) {
		background-position: -471px -22px;
	}
}

.card3 {
	background-position: -228px -5px;

	@media screen and (min-width: 400px) {
		background-position: -294px -7px;
	}

	@media screen and (min-width: 600px) {
		background-position: -520px -15px;
	}

	@media screen and (min-width: 1180px) {
		background-position: -693px -22px;
	}
}

.card4 {
	background-position: -301px -5px;

	@media screen and (min-width: 400px) {
		background-position: -389px -7px;
	}

	@media screen and (min-width: 600px) {
		background-position: -687px -15px;
	}

	@media screen and (min-width: 1180px) {
		background-position: -915px -22px;
	}
}

.card5 {
	background-position: -8px -79px;

	@media screen and (min-width: 400px) {
		background-position: -11px -102px;
	}

	@media screen and (min-width: 600px) {
		background-position: -20px -181px;
	}

	@media screen and (min-width: 1180px) {
		background-position: -28px -242px;
	}
}

.card6 {
	background-position: -82px -79px;

	@media screen and (min-width: 400px) {
		background-position: -105px -102px;
	}

	@media screen and (min-width: 600px) {
		background-position: -186px -181px;
	}

	@media screen and (min-width: 1180px) {
		background-position: -249px -242px;
	}
}

.card7 {
	background-position: -155px -79px;

	@media screen and (min-width: 400px) {
		background-position: -200px -102px;
	}

	@media screen and (min-width: 600px) {
		background-position: -353px -181px;
	}

	@media screen and (min-width: 1180px) {
		background-position: -471px -242px;
	}
}

.card8 {
	background-position: -228px -79px;

	@media screen and (min-width: 400px) {
		background-position: -294px -102px;
	}

	@media screen and (min-width: 600px) {
		background-position: -520px -181px;
	}

	@media screen and (min-width: 1180px) {
		background-position: -693px -242px;
	}
}

.card9 {
	background-position: -301px -79px;

	@media screen and (min-width: 400px) {
		background-position: -389px -102px;
	}

	@media screen and (min-width: 600px) {
		background-position: -687px -181px;
	}

	@media screen and (min-width: 1180px) {
		background-position: -915px -242px;
	}
}
