header {
	position: fixed;
	top: 0;
	background-color: $main-color;
	width: 100vw;
	height: 100px;
}

.game-bar {
	display: flex;
	justify-content: space-between;
	width: 80%;
	max-width: 1200px;
	margin: 0 auto;
	transform: translateY(-50%);
	position: relative;
	top: 50%;
}

.game-wrapper {
	margin: 115px auto 0;
	max-width: 1200px;
	width: 95%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	@media screen and (min-width: 1200px) {
		margin: 150px auto 0;
		width: 80%;
	}
}