.game-bar {
	color: #fff;
	background-color: #000;
	bottom: 0;
	position: fixed;
	width: 100%;
	border-top: 5px solid $main-color;
	padding: 15px 0;

	div {
		display: flex;
		flex-wrap: no-wrap;
		justify-content: space-between;
	}

	@media screen and (min-width: 1200px) {

	}
}

.wrapper {
	width: 80%;
	margin: 0 auto;
	max-width: 1200px;
	position: relative;
}

.game-wrapper {
	margin: 115px auto 0;
	width: 95%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	@media screen and (min-width: 375px) {
		margin: 130px auto 0;
	}

	@media screen and (min-width: 1200px) {
		margin: 180px auto 0;
		max-width: 1200px;
	}
}